:root{
  --black: #161818;
  --background: #161818;
  --white: #E7F6F2;
  --azulescuro: #152DFF;
  --azulclaro: #41ABCC;
  --azulescurograd: rgb(21, 45, 255, 0.5);
  --azulclarograd: rgb(65, 171, 204, 0.4);
  --scrollbar: #464646;
}

html{
  background-color: var(--background);
}

a:visited, a:link{
  color: white;
}

/* --------------------- estiliza scroll bar --------------------- */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar) var(--background);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--background);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 20px;
  border: 3px solid var(--background);
}
/*----------------------------------------------------------------*/

.app {
  margin: 0;
}

.gradient {
  position: absolute;
  z-index: -20;

  /* --size: 250px;
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8); */

  
  filter: blur(calc(700px / 5));
  background-image: linear-gradient(var(--azulclarograd), var(--azulescurograd));
  /* animation: rotate var(--speed) var(--easing) alternate infinite; */
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.grad-1{
  top: 50px;
  right: 100px;

  width: 450px;
  height: 450px;
}

.grad-2{
  top: 1100px;
  left: 150px;

  width: 350px;
  height: 350px;
}

.grad-3{
  top: 2500px;
  right: 100px;

  width: 300px;
  height: 300px;
}

.grad-4{
  top: 3200px;
  left: 150px;

  width: 200px;
  height: 200px;
}

.grad-5{
  top: 3800px;
  right: 150px;

  width: 300px;
  height: 300px;
}

.grad-6{
  top: 4500px;
  left: 150px;

  width: 200px;
  height: 200px;
}

/* .main-card-section{
  background: linear-gradient(180deg, #666666 0%, var(--background) 100%);
} */

.rectangle{
  width: 650px;
  height: 650px;
  background: var(--background);
  border-radius: 50px;
  transform: rotate(9.5deg);
  position: absolute;
  top: -20px;
  left: -70px;
  display: none;
}

.glass{
  /* background: rgba(217, 217, 217, 0.2);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px); */
  background: transparent;
}

.ruan-card{
  height: 75vh;
  margin: 20px auto 0 auto;
  width: 90%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}

/* .myself-container{
  align-content: center;
  justify-content: center;
  width: 50%;
  display: grid;
}

.align-content{
  height: 300px;
  width: 100%;
  display: inline;
}

.meunome{
  position: relative;
  margin: 0;
  top: -100px;
  left: 110px;
  font-family: 'Inconsolata', monospace;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  color: var(--white);
}

.minhaft{
  object-position: 90% 10% ;
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 60px;
  margin: auto;
}

.rightside-container{
  width: 50%;
} */

.navbar{
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
}

.navbar .div{
  display: flex;
  /* justify-content: space-between; */
  width: 50%;
}

.navbar-item{
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: var(--white);
  display: flex;
  flex-direction: column;
}

.navbar-item::after{
  content: '';
  width: 0px;
  height: 3px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to right, var(--azulescuro), var(--azulclaro));
  transition: width 0.3s;
}

.navbar-item:hover::after{
  width: 50px;
}

.r-infos{
  display: flex;
  flex-direction: column;
  padding: 8% 50px;
  width: 60%;
}

/* .name{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
} */

/* .n-white{
  color: white;
  z-index: 10;
  position: relative;
  top: 92px;
}

.n-gradient{
  background: linear-gradient(to right, var(--azulescuro), var(--azulclaro));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  position: relative;
  left: 3px;
  z-index: -10;
} */

.name-subtitle{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 20px;

  color: white;
  margin-top: 10px;
  width: fit-content;
}

.name-subtitle span{
  font-weight: 600;
}

.name-subtitle.mobi-sub{
  display: none;
}

.name-subtitle.desk-sub{
  display: block;
}

.btn-github{
  background: linear-gradient(to right, var(--azulescuro), var(--azulclaro));
  width: fit-content;
  border-radius: 5px;
  margin: 45px 0 0 5px;
}

.btn-github a{
  background: var(--black);
  padding: 10px;
  border-radius: 5px;
  position: relative;
  left: -5px;
  top: -5px;
}

.btn-github a:hover{
  left: -2px;
  top: -2px;
  transition: 0.1s ease-in-out;
}

.l-photo{
  display: flex;
}

.l-photo img{
  width: 600px;
  margin: auto 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  top: -40px;
  filter: hue-rotate(deg);
  filter: grayyscale(60%);
  height: 90%;
  object-fit: cover;
}

/* .navbar-item:hover{
  background: linear-gradient(to right, var(--azulescuro), var(--azulclaro));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  cursor: pointer;
} */

/* .front-dev-container{
  display: grid;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 60vh;
}

.frontend, .developer{
  font-family: 'Homenaje';
  font-weight: 400;
  font-size: 100px;
}

.frontend{
  color: var(--white);
  margin-top: 50px;
  position: relative;
  left: -40px;
}

.developer{
  background: linear-gradient(to right, var(--azulescuro), var(--azulclaro));
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: rgb(82, 82, 87);

  margin-left: 50px;
} */

.github-container{
  display: flex;
  justify-content: center;
  text-decoration: none;
  height: fit-content;
}

.github-icon{
  width: 25px;
  height: 25px;
  margin: auto 0;
}

.github-link{
  margin-left: 15px;
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: var(--white);
}

@media (max-width: 550px){
  .main-card-section{
    padding-top: 20px;
  }

  .ruan-card{
    flex-direction: column;
    justify-content: space-evenly;
    flex-direction:column-reverse;
    margin: 0 auto 140px auto;
    height: 55vh;
  }

  .navbar{
    display: none;
  }

  .rectangle{
    display: none;
  }

  .l-photo img{
    width: 250px;
    margin: auto;
    top: 0;
  }

  .r-infos{
    width: 100%;
    padding: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* .name{
    font-size: 48px;
  }

  .n-white{
    top: 0;
  }

  .n-gradient{
    top: -68px;
  } */

  .name-subtitle{
    font-size: 14px;
    line-height: 20px;
    margin-top: 0;
  }

  .name-subtitle.desk-sub{
    display: none;
  }

  .name-subtitle.mobi-sub{
    display: block;
  }

  .github-container p{
    font-size: 16px;
  }

  /* .minhaft{
    width: 200px;
    height: 200px;
    border-radius: 40px;
  }

  .myself-container{
    margin: 17vh auto 2vh auto;
  }

  .meunome{
    margin-top: -80%;
    top: -18vh;
    left: 0;
    font-size: 32px;
  }
  
  .align-content{
    height: 200px;
  }

  .front-dev-container{
    align-content: flex-start;
    height: fit-content;
  }

  .frontend, .developer{
    font-size: 50px;
  }

  .frontend{
    left: 0;
    margin-top: -2vh;
  }

  .developer{
    margin-left: 60px;
  }

  .rightside-container{
    width: 100%;
  }

  .github-link{
    font-size: 16px;
  } */

  .github-icon{
    width: 20px;
    height: 20px;
  }

  /* .github-container{
    margin-top: 0;
  } */

  .grad-1{
    top: 50px;
    right: 100px;
  
    width: 220px;
    height: 220px;
  }
  
  .grad-2{
    top: 1100px;
    left: 150px;
  
    width: 180px;
    height: 180px;
  }
  
  .grad-3{
    top: 2500px;
    right: 100px;
  
    width: 150px;
    height: 150px;
  }
  
  .grad-4{
    top: 3200px;
    left: 150px;
  
    width: 100px;
    height: 100px;
  }
  
  .grad-5{
    top: 3800px;
    right: 150px;
  
    width: 150px;
    height: 150px;
  }

  .grad-6{
    top: 5800px;
  }
}