:root{
  background: #2C3333
}

*{
  background-color: var(--background);
}
.app {
  margin: 50px;
}

.glass{
  background: rgba(217, 217, 217, 0.2);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
}

.ruan-card{
  height: 85vh;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}

.myself-container{
  align-content: center;
  width: 50%;
}

.meunome{
  position: relative;
  top: -280px;
  left: 15%;
  font-family: 'Inconsolata', monospace;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  color: #E7F6F2;
}

.minhaft{
  object-position: 90% 10% ;
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 60px;
  margin: 130px;
}

.rightside-container{
  width: 50%;
}

.navbar{
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.navbar-item{
  margin: 0 auto;
}