:root{
  --background: #2C3333;
  --white: #E7F6F2;
  --azulescuro: #152DFF;
  --azulclaro: #41ABCC;
}

html{
  background-color: var(--background);
}
.app {
  margin: 50px;
}

.glass{
  background: rgba(217, 217, 217, 0.2);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
}

.ruan-card{
  height: 85vh;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}

.myself-container{
  align-content: center;
  justify-content: center;
  width: 50%;
  display: grid;
}

.align-content{
  height: 300px;
  width: 100%;
  display: inline;
}

.meunome{
  position: relative;
  margin: 0;
  top: -100px;
  left: 110px;
  font-family: 'Inconsolata', monospace;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  color: var(--white);
}

.minhaft{
  object-position: 90% 10% ;
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 60px;
  margin: auto;
}

.rightside-container{
  width: 50%;
}

.navbar{
  padding: 50px 50px 0 50px;
  display: flex;
  justify-content: space-between;
}

.navbar-item{
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: var(--white);
}

.navbar-item:hover{
  background: linear-gradient(to right, var(--azulescuro), var(--azulclaro));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
}

.front-dev-container{
  display: grid;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 60vh;
}

.frontend, .developer{
  font-family: 'Homenaje';
  font-weight: 400;
  font-size: 100px;
}

.frontend{
  color: var(--white);
  margin-top: 50px;
  position: relative;
  left: -40px;
}

.developer{
  background: linear-gradient(to right, var(--azulescuro), var(--azulclaro));
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: rgb(82, 82, 87);

  margin-left: 50px;
}

.github-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-decoration: none;
}

.github-icon{
  width: 25px;
  height: 25px;
  margin: auto 0;
}

.github-link{
  margin-left: 15px;
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: var(--white);
}