:root{
    --black: #202020;
    --gray: #3d3d3d;
    --cinzaclaro: #909090;
    --azulescuro: #152DFF;
    --azulclaro: #41ABCC;
    --background: #2C3333;
}

.trajetoria-container{
    margin-top: 150px;
}

.card-traj{
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 10px;
}

.title-traj{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 10px 0;
    margin: 20px 0 20px 0;
    background-color: var(--black);
}

.card-infos-traj{
    background-color: var(--black);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    transform: rotate(5deg);
    transition: all ease-in-out 0.3s ;
}

.bg-logo-traj{
    height: fit-content;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    background: radial-gradient(#FFFDFD 0%, #808080 100%);
    transform: rotate(-5deg);
    margin: auto 0;
    transition: all ease-in-out 0.3s 0.3s;
}

.description-traj{
    width: 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0px;
    line-height: 20px;
    color: white;

    opacity: 0;
    transition: all ease-in-out 0.3s 0.6s;
    z-index: -10;
}

.gradient-bot{
    height: 10px;
    background: linear-gradient(to right, var(--azulescuro), var(--azulclaro));
    transform: rotate(5deg);
    margin-top: 10px;
    position: relative;
    left: -7px;
    border-radius: 5px;

    transition: all ease-in-out 0.3s;
}

.card-traj:hover .card-infos-traj{
    transform: rotate(0);
    padding: 20px;
}

.card-traj:hover .bg-logo-traj{
    transform: rotate(0);
}

.card-traj:hover .description-traj{
    padding-left: 20px;
    width: 250px;
    font-size: 12px;
    opacity: 100%;
}

.card-traj:hover .gradient-bot{
    transform: rotate(0);
    left: 0;
}

.bg-logo-traj img{
    height: 80px;
}

/* time line*/
/* 
.time-line-container{
    justify-content: center;
} */

.time-line{
    justify-content: center;
    margin-top: 100px;
}

.time-line-container, .time-line{
    display: flex;
    flex-direction: row;
}

.time-line-gradient{
    width:90vw;
    position: absolute;
    background: linear-gradient(to right, var(--azulescuro), var(--azulclaro));
    height: 2px;
}

.time-circle{
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.date-container{
    display: flex;
    flex-direction: column;
    position: relative;
}

.date-l, .date-r{
    top: -60px;
}

.date-l{
    left: -150px;
}

.date-r{
    left: 200px;
}

.c-1, .c-2{
    background-color: white;
    position: relative  ;
    top: 19px;
    z-index: 12;
}

.date{
    height: fit-content;
    position: relative;
    width: fit-content;
    margin: 0 20px;
    top: 10px;
    left: -65px;
    background-color: white;
    padding: 8px 16px;
    border-radius: 20px;    
}

.mt{
    margin-top: 220px;
}

@media (max-width: 550px){

    .trajetoria-container{
        margin-top: 0;
    }

    .time-line{
        flex-direction: column;
    }

    .time-line-gradient{
        display: none;
    }

    .date{
        left: 0;
        margin: 0;
        top: 40px;
    }

    .date-l, .date-r{
        left: 0;
        display: grid;
        justify-content: center;
        margin-bottom: 40px;
    }

    .c-1, .c-2{
        top: 3px;
        margin: 0 -38px;
        height: 37px;
        width: 54px;
        border-radius: 0;
    }

    .card-traj{
        margin-left: 0;
        justify-self: center;
        margin-top: -5px;
    }

    .card-infos-traj{
        padding: 15px;
    }

    .bg-logo-traj img{
        height: 60px;
    }

    .title-traj{
        font-size: 16px;
        padding: 5px 0;
        width: 100px;
        margin: 20px auto;
    }

    .gradient-bot{
        height: 5px;
        margin-top: 5px;
    }

     .card-infos-traj{
        transform: rotate(0);
        padding: 0 15px;
    }
    
     .bg-logo-traj{
        transform: rotate(0);
    }
    
     .description-traj{
        padding-left: 10px;
        width: 200px;
        font-size: 12px;
        opacity: 100%;
    }
    
     .gradient-bot{
        transform: rotate(0);
        left: 0;
    }

    .card-traj:hover .card-infos-traj{
        padding: 0 15px;

    }

    .card-traj:hover .description-traj{
        padding: 0;
        padding-left: 10px;
        width: 200px;
    }
}